#
# Usb config for bravo
#
on property:sys.usb.config=none
    exec /system/bin/netcfg usb0 down
    stop adbd
    write /sys/class/usb_composite/adb/enable 0
    write /sys/class/usb_composite/usb_mass_storage/enable 0
    write /sys/class/usb_composite/rndis/enable 0
    setprop sys.usb.state ${sys.usb.config}

# Charging only
on property:sys.usb.config=charging
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/devices/platform/android_usb/usb_function_switch 0
    write /sys/class/android_usb/android0/idVendor 0bb4
    write /sys/class/android_usb/android0/idProduct 0ff9
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/class/android_usb/android0/enable 1
    setprop sys.usb.state ${sys.usb.config}

# adb charging USB configuration
on property:sys.usb.config=charging,adb
    stop adbd
    write /sys/class/android_usb/android0/enable 0
    write /sys/devices/platform/android_usb/usb_function_switch 0
    write /sys/class/android_usb/android0/idVendor 0bb4
    write /sys/class/android_usb/android0/idProduct 0ff9
    write /sys/class/android_usb/android0/bDeviceClass 0
    write /sys/class/android_usb/android0/bDeviceSubClass 0
    write /sys/class/android_usb/android0/bDeviceProtocol 0
    write /sys/devices/platform/android_usb/usb_function_switch 2
    write /sys/class/android_usb/android0/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=adb
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage
    write /sys/class/usb_composite/usb_mass_storage/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,adb
    write /sys/class/usb_composite/usb_mass_storage/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis
    exec /system/bin/netcfg usb0 up
    write /sys/class/usb_composite/rndis/enable 1
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=rndis,adb
    exec /system/bin/netcfg usb0 up
    write /sys/class/usb_composite/rndis/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}

on property:sys.usb.config=mass_storage,rndis,adb
    exec /system/bin/netcfg usb0 up
    write /sys/class/usb_composite/usb_mass_storage/enable 1
    write /sys/class/usb_composite/rndis/enable 1
    write /sys/class/usb_composite/adb/enable 1
    start adbd
    setprop sys.usb.state ${sys.usb.config}
